<!DOCTYPE html>
<html>
<head>
    <script type="module"  src="/static/bootstrap-table/bootstrap-table.js"></script>
    <script type="module"  src="/static/bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/bootstrapv5/css/bootstrap.min.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="/static/bootstrap-table/bootstrap-table.css"> <!-- CSS reset -->
    <title>{{title}}</title>
</head>
<body>

<script src="/static/highcharts.js"></script>
<script src="/static/highcharts-more.js"></script>
<script src="/static/exporting.js"></script>
<script src="/static/accessibility.js"></script>
<script src="/static/jquery-3.6.1.min.js"></script>

<script src="/static/bootstrapv5/js/bootstrap.min.js"></script>
<script src="/static/jquery.init.js?do=version1"></script>

<script>
 Date.prototype.yyyymmdd = function() {
  var mm = this.getMonth() + 1; // getMonth() is zero-based
  var dd = this.getDate();

  return [this.getFullYear(),
          (mm>9 ? '' : '0') + mm,
          (dd>9 ? '' : '0') + dd
         ].join('-');
};



Main.series_data = [
  {% for item in total_arr %}

		 { "name": "{{item.project}}",
		   "visible":false,
		   "allowPointSelect": true,
		   "data":[
		      {% for obj in item.data %}
		      {
                      {% if obj.contragent %}
				       "name": " контрагент {{obj.name}}",
			          {% endif %}
                                     
				      {% if obj.account %}

				      "name": " счет {{obj.name}}",

				      {% endif %}
                                     
				      "value": {{obj.value|stringformat:"f"}},
	   	              "events": {
                         click: function(event){
                                  console.log("lower");
                                  console.log(event);
                                  Main.setposition(event, '{{item.project}}','{{obj.name}}', {% if obj.contragent%} "contragent" {%else%}  "account" {% endif %} ,
                                              {% if obj.contragent%} " контрагент {{obj.name}}" {%else%}  "счет {{obj.name}}" {% endif %}
                                          );
                                  console.log($("#xxx").data("context"));
                                  return true;
			              }
				     }
		      },
                      {% endfor %}				   
	             ]			   
                 },
   {% endfor %}

];





</script>
<div class="container-fluid">
    <div class="row">

        <div class="col-3">

            <h5>Журнал операций</h5>
            <span class="btn btn-primary" role="button" onclick="Main.show_journal()"
                                     >показать</span>


            <h5>Баланс:</h5>
            {{whole_balance|floatformat:"2g"}} {{base_currency}}
            <h5>Как считалось: <span class="btn btn-primary"
                                     data-bs-toggle="collapse"
                                     href="#collapse_accounts"
                                     role="button"
                                     aria-expanded="false"
                                     aria-controls="collapse_accounts">показать</span> </h5>
                <div class="collapse" id="collapse_accounts">

                    {% for item in  main_accounts %}
                        {% if  item.account.is_own %}
                            {% if item.balance < 0 %}
                                <p class="account_link" data-account="{{item.account.name}}">
                                    <strong>{{item.account.name}}</strong> <span class="text-danger">{{item.balance|floatformat:"2g"}}</span>
                                </p >
                            {% else %}
                                <p class="account_link" data-account="{{item.account.name}}">
                                 <strong>{{item.account.name}}</strong> <span class="text-success">{{item.balance|floatformat:"2g"}}</span>
                                </p>
                            {% endif %}

                        {% else %}

                            {% if item.balance > 0 %}
                                <p class="account_link" data-account="{{item.account.name}}">
                                    <strong>{{item.account.name}}</strong> <span class="text-danger">{{item.balance|floatformat:"2g"}}</span>(МЫ должны)
                                </p>
                            {% else %}
                                <p class="account_link" data-account="{{item.account.name}}">
                                    <strong>{{item.account.name}}</strong> <span class="text-success">{{item.balance|floatformat:"2g"}}</span>(НАМ должны)
                                </p>
                            {% endif %}

                        {% endif %}

                    {% endfor %}
                </div>
            <h5>Общее сальдо( последнии 7 дней)</h5>

                {{ whole_saldo7|floatformat:"2g" }}

            <h5>Сальдо( последнии 90 дней)</h5>

                {{ whole_saldo90|floatformat:"2g" }}

            <h5>Операции(последнии 7 дней)</h5>
                <span  class="btn btn-primary" onclick="Main.show_all7()"> Посмотреть</span>

            <h5>Операции(последнии 90 дней)</h5>

                <span  class="btn btn-primary" onclick="Main.show_all90()">Посмотреть</span>

                <h5>Общее сальдо проектам: <span class="btn btn-primary"
                                     data-bs-toggle="collapse"
                                     href="#collapse_projects"
                                     role="button"
                                     aria-expanded="false"
                                     aria-controls="collapse_projects">показать</span></h5>

                <div class="collapse" id="collapse_projects">
                    {% for item in  main_projects %}

                       {% if item.balance < 0 %}
                            <p class="project_link" data-project="{{item.name}}">
                                <strong>{{item.name}}</strong> <span class="text-danger">{{item.balance|floatformat:"2g"}}</span>
                            </p>
                       {% else %}

                           <p  class="project_link">
                               <strong>{{item.name}}</strong> <span class="text-success">{{item.balance|floatformat:"2g"}}</span>
                           </p>
                       {% endif %}
                    {% endfor %}
                </div>
        </div>
        <div class="col-9 text-center">
            <div style="position:fixed; top:10px; right:10px; z-index: 2000;"><a class="btn btn-danger" href="/logout">Выйти</a></div>

            <div class="dropdown-menu p-4 text-muted" style="max-width: 400px;" id="xxx" data-context="" data-category="" data-project="" data-title="">

                <p id="project_title">  </p>

                <p>
                <li> <a class="dropdown-item" onclick="Main.show_project()">общее по проекту</a></li>
                </p>

                <p>
                <li><a class="dropdown-item" onclick="Main.project_operations()"> Все операции по проекту </a></li>
                </p>
                <p id="context_title">  </p>
                <p class="mb-0">
                <li><span class="dropdown-item" onclick="Main.show_map()"> Карта операций</span></li>

                </p>
                <p>
                <li><span class="dropdown-item" onclick="Main.show_info()" >Общая информация</span></li>
                </p>
                <p class="mb-0">
                <li><span class="dropdown-item" onclick="Main.show_operation()"> Операции</span></li>
                </p>

            </div>


            <figure class="highcharts-figure">

                <div class="form-check  form-check-inline">
                    <input class="form-check-input" type="checkbox" value="yes"
                           {%  if contragents_included %}
                           checked
                           {% endif %} id="contragents_checkbox">
                    <label class="form-check-label" for="contragents_checkox">
                        Контрагенты
                    </label>
                </div>
                <div class="form-check form-check-inline ">
                    <input class="form-check-input" type="checkbox"
                           {%  if accounts_included %}
                           checked
                           {% endif %}
                           value="yes"  id="accounts_checkbox">
                    <label class="form-check-label" for="accounts_checkbox">
                        Счета
                    </label>
                </div>



                <div id="container" ></div>
                <p class="highcharts-description">
                </p>


            </figure>



            <div class="modal fade"
                 id="common_info"
                 tabindex="-1"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Общая информация "<span id="conv_title"> </span>"</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="common_info_dlg">
                            <div class="row">
                                <div class="col-lg-12" id="pie_head">

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-6" id="pie1">

                                </div>
                                <div class="col-lg-6" id="pie2">

                                </div>


                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade"
                 id="map_modal"
                 tabindex="-1"
                 aria-labelledby="map_exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="map_exampleModalLabel">Карта "<span id="map_info_title"> </span>"</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row" style="min-height:800px">
                                <div class="col-lg-12" id="map_container">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade"
                 id="project_common_info"
                 tabindex="-1"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Общая информация "<span id="project_info_title"> </span>"</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12" id="ppie_head">

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-6" id="ppie1">

                                </div>
                                <div class="col-lg-6" id="ppie2">

                                </div>


                            </div>

                            <div class="row">
                                <div class="col-lg-6" id="ppie3">

                                </div>
                                <div class="col-lg-6" id="ppie4">

                                </div>


                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade"
                 id="trans_info"
                 tabindex="-1"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Операции  по "<span id="trans_title"> </span>"</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="common_trans_info">
                            <small>
                                <table
                                        id="table_trans"
                                        data-url=""
                                        data-id-field="id"
                                        data-editable="true"
                                        data-filter-control="true"
                                        data-editable-url="/my/editable/update/path"
                                        data-show-search-clear-button="true">
                                    <thead>
                                    <tr>
                                        <th data-field="id" data-filter-control="input">id</th>
                                        <th data-field="date" data-filter-control="select"> Дата</th>
                                        <th data-field="debit_credit_alt" data-filter-control="select">тип операции</th>
                                        <th data-field="amnt" data-filter-control="input">сумма</th>
                                        <th data-field="currency" data-filter-control="select">валюта</th>
                                        <th data-field="rate" data-filter-control="select"> Курс</th>
                                        <th data-field="account" data-filter-control="select">Счет</th>
                                        <th data-field="contragent" data-filter-control="select" >Контрагент</th>
                                        <th data-field="to_accounts" data-filter-control="select"> на счет</th>
                                        <th data-field="to_contragent" data-filter-control="select"> На Контрагента</th>
                                        <th data-field="project" data-filter-control="select">Проект</th>
                                        <th data-field="category" data-filter-control="select">category</th>
                                        <th data-field="tags" data-filter-control="select">tags</th>
                                        <th data-field="comments" data-filter-control="input">Комментарий</th>
                                        <th data-field="last_edit" data-filter-control="select"> Последние изменения   </th>
                                        <th data-field="operate"
                                            data-clickToSelect="false"
                                            data-events="window.operateEvents"
                                            data-formatter="Main.operateFormatter">  Операции   </th>

                                    </thead>
                                </table>
                            </small>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="custom_form_modal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Изменить</h1>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="custom_form">
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


</body>
</html>
